* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.App {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; 
  position: relative;
  z-index: 1;
}

.balance-container {
  font-size: large;
  font-weight: 700;
  color: #fff; /* Основной цвет текста */
  text-shadow: 
    0 0 5px #00ffff, /* Голубое свечение */
    0 0 10px #00ffff, 
    0 0 15px #00ffff, 
    0 0 20px #ff00ff, /* Розовое свечение */
    0 0 25px #ff00ff, 
    0 0 30px #ff00ff;
  display: flex;
  align-items: center;
}


.balance-icon {
  width: 32px;
  height: 32px;
  margin-right: 1%;
  border-radius: 50%;
}

.clicker-container {
  outline: none;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: max-content;
}

.progress-circle {
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  width: 92%;
  border-radius: 50%;
  animation: pulse 2s infinite ease-in-out; /* Анимация плавного переливания */
}

/* Анимация для плавного переливания */
@keyframes pulse {
  0% {
    box-shadow: 
      0 0 15px #00ffff, /* Голубое свечение */
      0 0 30px #00ffff, 
      0 0 45px #ff00ff, /* Розовое свечение */
      0 0 50px #ff00ff;
  }
  50% {
    box-shadow: 
      0 0 30px #00ffff, /* Увеличенное голубое свечение */
      0 0 50px #00ffff, 
      0 0 60px #ff00ff, /* Увеличенное розовое свечение */
      0 0 70px #ff00ff;
  }
  100% {
    box-shadow: 
      0 0 15px #00ffff, /* Голубое свечение */
      0 0 30px #00ffff, 
      0 0 45px #ff00ff, /* Розовое свечение */
      0 0 50px #ff00ff;
  }
}


.clicker-image {
  transition: transform 0.2s;
  width: 100%;
  height: 100%;
  pointer-events: none;

}

.clicker-image.distorted {
  transform: scale(1.05);
}

.tabs {
  gap: 2%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0; 
  left: 0;
  right: 0;
  padding: 20px;
}

.upgrades button {
  text-align: start;
  margin-top: 1%;
  width: 70%;
  background-color: rgba(188, 1, 1, 0.6);
  color: rgb(0, 0, 0);
  padding: 1%;
  cursor: pointer;
  border-radius: 5px;
}

.energy-container {
  font-weight: 800;
  height: 10%;
  font-size: 150%;
  margin-top: 10px;
  color: #fff; /* Основной цвет текста */
  text-shadow: 
    0 0 5px #00ffff, /* Голубое свечение */
    0 0 10px #00ffff, 
    0 0 15px #00ffff, 
    0 0 20px #ff00ff, /* Розовое свечение */
    0 0 25px #ff00ff, 
    0 0 30px #ff00ff;
}


.tab-content {
  height: 100vh;
  margin: 0;    
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 10; 
  transform: translateY(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}

.tab-content.open {
  transform: translateY(0);
  opacity: 1;
}

.tabs {
  display: flex;
  /* gap: 10px; Пробел между кнопками */
}
.tabs button {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(196, 255, 2);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: bold;
  transition: color 0.3s ease;
  z-index: 1;
  animation: glow 1.8s infinite alternate;
}

.tabs button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255,255,255,0.5) 20%, rgba(245, 242, 242, 0) 60%);
  transition: transform 0.5s ease;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

@keyframes glow {
  0% { 
    color: rgba(196, 255, 2, 1);
    text-shadow: 
      0 0 5px #00ffff, /* Голубое свечение */
      0 0 10px #00ffff, 
      0 0 15px #00ffff, 
      0 0 20px #ff00ff, /* Розовое свечение */
      0 0 25px #ff00ff, 
      0 0 30px #ff00ff;
    box-shadow: 
      0 0 10px #00ffff, /* Голубое свечение */
      0 0 20px #0084ff, 
      0 0 30px #ff00ff, /* Розовое свечение */
      0 0 10px #ff00ff;
  }
  100% { 
    color: #fff;
    text-shadow: 
      0 0 10px #00ffff, 
      0 0 20px #00ffff, 
      0 0 30px #00ffff, 
      0 0 10px #ff00ff, 
      0 0 10px #ff00ff, 
      0 0 10px #ff00ff;
    box-shadow: 
      0 0 15px #00ffff, 
      0 0 15px #00ffff, 
      0 0 15px #ff00ff, 
      0 0 2px #ff00ff;
  }
}

.back-button {
  background-color: rgba(1, 245, 253, 0.6);
  color: rgb(195, 255, 0);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(1, 1, 1, 0.5);
}

.settings-tab {
  padding: 20px;
}

.settings-tab .toggle {
  margin: 10px 0;
}

.settings-tab .toggle label {
  display: flex;
  align-items: center;
}

.settings-tab .toggle input {
  margin-right: 10px;
}



.abg-4 {
  background: linear-gradient(315deg, #65005e 3%, #3c84ce 38%, #30eee2 68%, #ff1919 98%);
  animation: animationbg-4a 15s ease infinite;
  background-size: 400% 400%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.3;    
}


.damage-indicator {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* Основной цвет текста */
  text-shadow: 
    0 0 5px #00ffff, /* Голубое свечение */
    0 0 10px #00ffff, 
    0 0 15px #00ffff, 
    0 0 20px #ff00ff, /* Розовое свечение */
    0 0 25px #ff00ff, 
    0 0 30px #ff00ff;
  animation: fadeOut 1s forwards, scatter 0.5s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-50px); }
}



.balance-text{
  color: white;
}
css-doodle {
  --color: #51eaea, #fffde1, #ff9d76, #FB3569;
  --rule: (
    :doodle {
      @grid: 30x1 / 18vmin;
      --deg: @p(-180deg, 180deg);
    }
    :container {
      perspective: 30vmin;
    }
    :after, :before {
      content: '';
      background: var(--color); 
      @place-cell: @r(100%) @r(100%);
      @size: @r(6px);
      @shape: heart;
    }
  
    @place-cell: center;
    @size: 100%;
  
    box-shadow: @m2(0 0 50px var(--color));
    background: @m100(
      radial-gradient(var(--color) 50%, transparent 0) 
      @r(-20%, 120%) @r(-20%, 100%) / 1px 1px
      no-repeat
    );
  
    will-change: transform, opacity;
    animation: scale-up 12s linear infinite;
    animation-delay: calc(-12s / @I * @i);
  
    @keyframes scale-up {
      0%, 95.01%, 100% {
        transform: translateZ(0) rotate(0);
        opacity: 0;
      }
      10% { 
        opacity: 1; 
      }
      95% {
        transform: translateZ(35vmin) rotateZ(@var(--deg));
      }
    }
  );
}